.container {
  max-width: 305px;
  padding: 0 7.5px;
  margin-left: auto;
  margin-right: auto;

  @media screen and(min-width:768px) {
    max-width: 624px;
    padding: 0 15px;
  }

  @media screen and(min-width:1280px) {
    width: 1080px;
  }
}
