.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  background-image: linear-gradient(45deg, #eaee09de, #3bff0a8c, #ff000078);
  animation-name: flashing;
  animation-duration: 3000ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.heading {
  color: #fff
  animation-name: normalblinking;
  animation-duration: 3000ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes blinking {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flashing {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
