.useInfoContainer {
  display: flex;
  flex-wrap: nowrap;
  padding: 4px 0;

  @media screen and (max-width: 480px) {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    padding: 10px 15px;
    background: #eff1f3;
  }
}

.nickName {
  position: relative;
  padding-right: 22px;
  font-family: 'Gotham Pro', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 13px;
  text-align: right;
  letter-spacing: 0.04em;
  color: #212121;

  &::before {
    content: '';
    display: block;
    height: 130%;
    width: 2px;
    position: absolute;
    right: 0;
    top: -20%;
    background-color: #e0e0e0;
  }
}

.logOutButton {
  margin-left: 22px;
  background: none;
  border: 0;
  padding: 0;
  font-family: 'Gotham Pro', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 13px;
  letter-spacing: 0.04em;
  color: #9b9faa;
  cursor: pointer;

  transition: 0.25s ease;

  &:hover,
  &:focus {
    color: #fc842d;
  }
}
