// @import '../../../utils/saas/mixins';

.container {
  display: flex;
  align-items: flex-end;
  width: fit-content;
}

.date {
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 41px;
  color: #212121;
  margin-right: 21px;

  outline-color: #f89853;
}

.customButton {
  display: block;
  margin-bottom: 5px;
  padding: 0;
  background: transparent;
  outline: none;
  border: none;
  border-radius: 50%;
  transition: all ease-in-out 300ms;
  cursor: pointer;
}

.customButton:hover,
.customButton:active {
  transform: scale(1.3);
  transition: all ease-in-out 300ms;
}

@media (max-width: 767px) {
  .date {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 5px;
  }
  .customButton {
    margin-bottom: 0;
  }

  .container {
    align-items: center;
  }
}
