.bgContainer {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
}

.background {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 50%;
  background-image: url('../../utils/images/background/user-pages/bg-user-tablet.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right bottom;

  @media screen and (min-width: 1025px) {
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: unset;
    background-image: url('../../utils/images/background/user-pages/bg-user-desktop.png');
  }
}

.calculatorBox {
  width: 100%;
}

.sidebarBox {
}

.formBox {
  display: flex;
  justify-content: center;
  padding: 40px 0 60px;
}

@media screen and (min-width: 768px) {
  .calculatorBox {
    margin: 0 auto;
    // width: 1280px;
  }

  .formBox {
    padding: 100px 0 74px;
  }
}

@media screen and (min-width: 1280px) {
  .calculatorBox {
    display: flex;
    justify-content: center;
  }

  .formBox {
    width: 745px;
    padding: 110px;
  }

  .sidebarBox {
    width: 50%;
  }
}
