// @import '../../../utils/saas/mixins';

.container {
  position: relative;
  width: 100%;
  max-height: 289px;
  overflow-y: scroll;
  margin-top: 59px;
}

.list {
  list-style: none;
  padding: 0;
}

.container::-webkit-scrollbar {
  width: 6px;
}

.container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #ffffff;
}

.container::-webkit-scrollbar-thumb {
  background-color: #264061;
  outline: 1px solid #264061;
}

.overlay {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  pointer-events: none;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.9) 0%,
    rgba(255, 255, 255, 0) 80%
  );
}

@media (max-width: 767px) {
  .container {
    width: 100%;
    max-height: 245px;
    margin-top: 31px;
    margin-right: 0;
  }
}

@media (min-width: 767px) and (max-width: 1024px) {
  .container {
    width: 100%;
  }
}

.noProductsHeading {
  font-size: 16px;
  font-weight: 300;
  color: #d6d7d8;
  margin-bottom: 15px;
}
