.nav {
  position: relative;
  padding: 2px 0;
  padding-left: 22px;

  &::before {
    content: '';
    display: block;
    height: 100%;
    width: 2px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #e0e0e0;
  }

  @media screen and (max-width: 1079px) {
    &::before {
      display: none;
    }
  }
}

.navIsAuthenticated {
  position: relative;
  padding: 2px 0;
  padding-left: 22px;

  &::before {
    content: '';
    display: block;
    height: 100%;
    width: 2px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #e0e0e0;
  }

  @media screen and (max-width: 1079px) {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    opacity: 0;

    padding: 110px 0;
    background: #264061;
    pointer-events: none;

    &.isOpen {
      opacity: 1;
      pointer-events: auto;
      height: 100vh;
    }
  }

  @media screen and (max-width: 480px) {
    padding: 60px 0;
  }
}

.navList {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navIsAuthenticated .navList {
  @media screen and (max-width: 1079px) {
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
  }
}

.navItem:not(:last-child) {
  margin-right: 15px;
}

.navIsAuthenticated .navItem:not(:last-child) {
  @media screen and (max-width: 1079px) {
    margin-right: unset;
    margin-bottom: 20px;
  }
}

.navLink {
  font-family: 'Gotham Pro', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 13px;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #9b9faa;
  text-decoration: none;
  transition: 0.25s ease;

  &:hover,
  &:focus {
    color: #fc842d;
  }
}

.navLink.activeNavLink {
  color: #212121;
}

.navIsAuthenticated .navLink.activeNavLink {
  @media screen and (max-width: 1079px) {
    color: #dadada;
  }
}
