.bgContainer {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
}

.background1 {
  position: absolute;
  bottom: 0%;
  right: 0;
  width: 70%;
  height: 100%;
  background-image: url('../../utils/images/background/auth-pages/bg-auth-tablet-1.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right bottom;

  @media screen and (min-width: 1025px) {
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background-image: url('../../utils/images/background/auth-pages/bg-auth-1.png');
    background-position: right;
  }
}

.background2 {
  position: absolute;
  top: 42%;
  right: -5%;
  width: 35%;
  height: 35%;
  background-image: url('../../utils/images/background/auth-pages/bg-auth-2.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  @media screen and (min-width: 1025px) {
    top: 23%;
    right: -8%;
    width: 35%;
    height: 35%;
  }
}

.background3 {
  position: absolute;
  bottom: -20%;
  right: -17%;
  width: 70%;
  height: 70%;
  background-image: url('../../utils/images/background/auth-pages/bg-auth-3.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;

  @media screen and (min-width: 1025px) {
    bottom: 5%;
    right: -12%;
    width: 60%;
    height: 60%;
    background-position: right bottom;
  }
}

.background4 {
  position: absolute;
  top: 0;
  right: -5%;
  width: 90%;
  height: 70%;
  background-image: url('../../utils/images/background/auth-pages/bg-auth-tablet-4.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  @media screen and (min-width: 1025px) {
    top: 0;
    bottom: 0;

    right: -10%;
    width: 90%;
    height: 100vh;
    background-image: url('../../utils/images/background/auth-pages/bg-auth-4.png');
  }
}
